[submodule "deploy-tenentlogbackupscheduler"]
	path = deploy-tenentlogbackupscheduler
	url = http://192.168.161.250:11180/angel/deploy-tenentlogbackupscheduler
[submodule "tenentlogbackupscheduler"]
	path = tenentlogbackupscheduler
	url = http://192.168.161.250:11180/angel/tenentlogbackupscheduler
