[submodule "tenent-logbackup-scheduler"]
	path = tenent-logbackup-scheduler
	url = http://192.168.0.6:11180/solution-advancement-project/tenent-logbackup-scheduler
[submodule "src"]
	path = src
	url = http://192.168.0.6:11180/solution-advancement-project/tenent-logbackup-scheduler
